@charset "UTF-8";

p{
	text-align: center;
	
}

h1 {
	font-size: 50px;
	text-align: center;
}
select{
		display: flex;
	  margin: 0 auto;
	  
	
}
.category{
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

/*.green{*/
/*	background-color: green;*/
/*	color:white;*/
/*	width: 150px;*/
/*	height: 50px;*/
/*	font-size: 20px;*/
/*}*/

.green{
	border-radius: 100px;
	    width: 200px;
	    padding: 15px;
	    box-sizing: border-box;
	    background: green;
	    color: #FFF;
	    text-decoration: none;
	    margin: 10px 0;
		font-size: 20px;
}

.red{
	background-color: firebrick;
	color:white;
	width: 150px;
	height: 50px;
	font-size: 20px;
}
.blue{
	background-color: darkblue;
	color:white;
	width: 150px;
	height: 50px;
	font-size: 20px;
}


.btn-flat-logo {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #A1A3A6;
  transition: .4s;
}

.btn-flat-logo:hover {
  background: #A1A3A6;
}
