@charset "UTF-8";
body{
	background-color: #E6E7E8;
	font-family: "Yuji Syuku", serif;
	
}

.yuji-syuku-regular {
  	font-family: "Yuji Syuku", serif;
  	font-weight: 400;
  	font-style: normal;
}

p{
	text-align: center;
}

h1 {
	font-size: 50px;
	text-align: center;
}


input{
	text-align: center;
	vertical-align:top;
}

.green{
	border-radius: 0.5rem;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: green;
	color: #FFF;
	text-decoration: none;
	margin: 10px 0;
	font-size: 25px;
	font-family: "Yuji Syuku", serif;
}

.red{
	border-radius: 0.5rem;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: firebrick;
	color: #FFF;
	text-decoration: none;
	margin: 10px 0;
	font-size: 25px;
	font-family: "Yuji Syuku", serif;
}
.blue{
	border-radius: 0.5rem;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: darkblue;
	color: #FFF;
	text-decoration: none;
	margin: 10px 0;
	font-size: 25px;
	font-family: "Yuji Syuku", serif;
}



.btn-flat-logo {
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #A1A3A6;
	transition: .4s;
}

.btn-flat-logo:hover {
	background: #A1A3A6;
}

.newfont{
	font-size: 25px;
}

.back {
	font-size: 20px;
}

.center {
	width: fit-content;
	margin: auto;
}

label {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}
.center2 {
	margin-right: 20px;
}
/*枠線*/
.box{
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #2c2c2f;
	background: #FFFFFF;
	width: 700px;
	}
.box p {
	margin: 0; 
	padding: 0;
	}
	
/*検索フォーム*/
.search_container{
  box-sizing: border-box;
  display: inline-block;
}

.search_container input[type="text"]{
  background: #FFFFFF;
  border: none;
  height: 35px;
  width: 380px;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: gray;
  color: #fff;
  outline : none;
  width: 4.0em;
  height: 37px;
  margin-left:15px;
}
