@charset "UTF-8";
/*girl*/
body{
	background-image: url("lace3.png");
	font-family: "Hachi Maru Pop", serif;
	color: #333333;
}

.hachi-maru-pop-regular {
  font-family: "Hachi Maru Pop", serif;
  font-weight: 400;
  font-style: normal;
}


p{
	text-align: center;
}

h1 {
	font-size: 50px;
	text-align: center;
}


input{
	text-align: center;
	vertical-align:top;
}

a:link { /*アクセスしたことのないリンク*/
	color:#9d8e87;
}

a:visited { /*アクセスしたことのあるリンク*/
	color:#5BC8AC;
}

.green{ /*削除済みボタン*/
	border-radius: 20px;
	width: 260px;
	padding: 10px;
	box-sizing: border-box;
	background: #fff79b;
	color: #cfa7cc;
	text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff,
	-1px 1px 0 #ffffff,  1px -1px 0 #ffffff,
	1px 0 0 #ffffff, -1px  0 0 #ffffff,
	0 1px 0 #ffffff,  0 -1px 0 #ffffff;
	text-decoration: none;
	margin: 10px 0;
	font-size: 30px;
	font-family: "Hachi Maru Pop", cursive;
}

.red{ /*追加ボタン*/
	border-radius: 20px;
	width: 250px;
	padding: 10px;
	box-sizing: border-box;
	background: #cfa7cc;
	color: #5BC8AC;
	text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff,
	-1px 1px 0 #ffffff,  1px -1px 0 #ffffff,
	1px 0 0 #ffffff, -1px  0 0 #ffffff,
	0 1px 0 #ffffff,  0 -1px 0 #ffffff;
	text-decoration: none;
	margin: 10px 0;
	font-size: 30px;
	font-family: "Hachi Maru Pop", cursive;

}

.blue{
	border-radius: 20px;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: #d3def1;
	color: #f4acac;
	text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff,
	-1px 1px 0 #ffffff,  1px -1px 0 #ffffff,
	1px 0 0 #ffffff, -1px  0 0 #ffffff,
	0 1px 0 #ffffff,  0 -1px 0 #ffffff;
	text-decoration: none;
	margin: 10px 0;
	font-size: 25px;
	font-family: "Hachi Maru Pop", cursive;

}


.btn-flat-logo {/*HOMEボタン*/
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #A1A3A6;
	transition: .4s;
}

.btn-flat-logo:hover {
	background: #A1A3A6;
}

.newfont{
	font-size: 25px;
}

.back {
	font-size: 20px;
}

.center {
	width: fit-content;
	margin: auto;
}

label {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}
/*枠線*/
.box{
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #2c2c2f;
	background: #FFFFFF;
	width: 700px;
	border-radius: 20px;
	}
.box p {
	margin: 0; 
	padding: 0;
	}
	
/*検索フォーム*/
.search_container{
  	box-sizing: border-box;
  	display: inline-block;
}

.search_container input[type="text"]{
  	background: #FFFFFF;
  	border: none;
  	height: 35px;
  	width: 380px;
}
.search_container input[type="text"]:focus {
  	outline: 0;
}
.search_container input[type="submit"]{
  	cursor: pointer;
  	font-family: FontAwesome;
  	border: none;
  	background: #5BC8AC;
  	color: #ffffff;
  	outline : none;
  	width: 4.0em;
  	height: 37px;
  	margin-left:15px;
}


.edit{
	border-radius: 0.5rem;
	width: 200px;
	padding: 8px;
	box-sizing: border-box;
	background: #fff79b;
	color: #cfa7cc;
	text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff,
	-1px 1px 0 #ffffff,  1px -1px 0 #ffffff,
	1px 0 0 #ffffff, -1px  0 0 #ffffff,
	0 1px 0 #ffffff,  0 -1px 0 #ffffff;
	text-decoration: none;
	margin: 10px 0;
	padding-top:0.5px;
	font-size: 15px;
	font-family: "Hachi Maru Pop", cursive;
	font-weight: 900
	
}
input[type="number"] {
  width: 65px; /*--幅--*/
  padding: 10px; /*--余白--*/
  font-size: 10px; /*--文字サイズ--*/
  border: solid 2px #cccccc; /*--ボーダー線--*/
  border-radius: 5px; /*--角丸--*/
}

