@charset "UTF-8";
/*girl*/
body{
	background-color: #f5c4d3;
	font-family: "Hachi Maru Pop", cursive;
	background-image: url("lace3.png");
}

.hachi-maru-pop-regular {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}

p{
	text-align: center;
	font-weight: 600;
	color: #cfa7cc;
}

h1 {
	font-size: 50px;
	font-weight: 900;
	text-align: center;
	color: #cfa7cc;
}

select{
	 display: flex;
	 margin: 0 auto;
}
.category{
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.add{
	border-radius: 0.5rem;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: #fff79b;
	color: #cfa7cc;
	text-decoration: none;
	margin: 10px 0;
	font-size: 25px;
	font-family: "Hachi Maru Pop", cursive;
	font-weight: 900
}

.delete{
	border-radius: 0.5rem;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: #cfa7cc;
	color: #99e3d1;
	text-decoration: none;
	margin: 10px 0;
	font-size: 25px;
	font-family: "Hachi Maru Pop", cursive;
	font-weight: 900
}
.delete--shadow {
  	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
.delete--color {
  	color: #99e3d1;
  	background-color: #cfa7cc;
  	border-bottom: 5px solid #bacadd;
}
.delete--colore:hover {
 	margin-top: 3px;
  	color: #99e3d1;
  	background: #cfa7cc;
  	border-bottom: 2px solid #bacadd;
}
.plus{
	border-radius: 0.5rem;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: #d3def1;
	color: #f4acac;
	text-decoration: none;
	margin: 10px 0;
	font-size: 25px;
	font-family: "Hachi Maru Pop", cursive;
	font-weight: 900
}
.plus--shadow {
  	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
.plus--color {
  	color: #f4acac;
  	background-color: #d3def1;
  	border-bottom: 5px solid #bacadd;
}
.plus--colore:hover {
 	margin-top: 3px;
  	color: #f4acac;
  	background: #d3def1;
  	border-bottom: 2px solid #bacadd;
}

.btn-flat-logo {
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #A1A3A6;
	transition: .4s;
}

.btn-flat-logo:hover {
	background: #A1A3A6;
}

.newfont{
	font-size: 25px;
	
}
