@charset "UTF-8";
/*boy*/
body{
	background-color: #FDFFFF;
	font-family: "Yuji Syuku", serif;
	
}

.yuji-syuku-regular {
  	font-family: "Yuji Syuku", serif;
  	font-weight: 400;
  	font-style: normal;
}

p{
	text-align: center;
	
}

h1 {
	font-size: 50px;
	text-align: center;
}

select{
	 display: flex;
	 margin: 0 auto;
		  
	
}
.category{
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.add {
	border-radius: 100px;
	width: 200px;
	padding: 15px;
	box-sizing: border-box;
	background: #34675C;
	color: #c6c09c;
	text-decoration: none;
	margin: 10px 0;
	font-size: 20px;
	font-family: "Yuji Syuku", serif;
	}

.delete{
	border-radius: 100px;
	background-color:#324851;
	color:white;
	width: 150px;
	height: 50px;
	font-size: 20px;
	font-family: "Yuji Syuku", serif;
}
.plus{
	border-radius: 100px;
	background-color: #7DA3A1;
	color:white;
	width: 150px;
	height: 50px;
	font-size: 20px;
	font-family: "Yuji Syuku", serif;
	}
	


