@charset "UTF-8";@charset "UTF-8";
/*boy*/
body{
	background-color: #F6F7F8;
	font-family: "Kaisei Opti", serif;
	
}

.kaisei-opti-regular {
  font-family: "Kaisei Opti", serif;
  font-weight: 400;
  font-style: normal;
}
p{
	text-align: center;
}

h1 {
	font-size: 50px;
	text-align: center;
}


input{
	text-align: center;
	vertical-align:top;
}

.green{
	border-radius: 0.5rem;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: #F6F7F8;
	color: #000B00;
	text-decoration: none;
	margin: 10px 0;
	font-size: 25px;
	font-family: "Kaisei Opti", serif;
}

.red{
	border-radius: 0.5rem;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: #F6F7F8;
	color: #000B00;
	text-decoration: none;
	margin: 10px 0;
	font-size: 25px;
	font-family: "Kaisei Opti", serif;
}
.blue{
	border-radius: 0.5rem;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: #F6F7F8;
	color: #000B00;
	text-decoration: none;
	margin: 10px 0;
	font-size: 25px;
	font-family: "Kaisei Opti", serif;
}



.btn-flat-logo {
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #000B00;
	background: #A1A3A6;
	transition: .4s;
}

.btn-flat-logo:hover {
	background: #A1A3A6;
}

.newfont{
	font-size: 25px;
}

.back {
	font-size: 20px;
}

.center {
	width: fit-content;
	  margin: auto;
}

label {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}

/*枠線*/
.box{
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #000B00;
	background: #FFFEF6;
	width: 700px;
	}
.box p {
	margin: 0; 
	padding: 0;
	}
	
/*検索フォーム*/
.search_container{
  box-sizing: border-box;
  display: inline-block;
}

.search_container input[type="text"]{
  background: #000B00;
  border: none;
  height: 35px;
  width: 380px;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #FFFEF6;
  color: #000B00;
  outline : none;
  width: 4.0em;
  height: 37px;
  margin-left:15px;
}


