@charset "UTF-8";
/*性別その他*/
body {
	background-color: #e3d7a3;
	font-family: "Hina Mincho", serif;
	}

/* 15px */
.rainbow {
	width: 100%;
	height: 15px;
	border: 0;
	background: repeating-linear-gradient(-45deg,
	#cc1f01 , #cc1f01 15px,
	#ffffff 15px, #ffffff 30px, #fa5100 30px, #fa5100 45px,
	#ffffff 45px, #ffffff 60px, #fabd05 60px, #fabd05 75px,
	#ffffff 75px, #ffffff 90px, #6cae97 90px, #6cae97 105px,
	#ffffff 105px, #ffffff 120px, #84d0c4 120px, #84d0c4 135px,
	#ffffff 135px, #ffffff 150px, #1569BD 150px, #1569BD 165px,
	#ffffff 165px, #ffffff 180px, #522641 180px, #522641 195px,
	#ffffff 195px, #ffffff 210px);
}

.hina-mincho-regular {
   font-family: "Hina Mincho", serif;
   font-weight: 300;
   font-style: normal;
}


p{
	text-align: center;
}

h1 {
	font-size: 50px;
	text-align: center;
}


input{
	text-align: center;
	vertical-align:top;
}

a:link { /*アクセスしたことのないリンク*/
	color:#9d8e87;
}

a:visited { /*アクセスしたことのあるリンク*/
	color:#5BC8AC;
}

.green{
	border-radius: 0.5rem;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: #6cae97;
	color: #ffffff;
	text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff,
	-1px 1px 0 #ffffff,  1px -1px 0 #ffffff,
	1px 0 0 #ffffff, -1px  0 0 #ffffff,
	0 1px 0 #ffffff,  0 -1px 0 #ffffff;
	text-decoration: none;
	margin: 10px 0;
	font-size: 20px;
	font-family: "Hina Mincho", serif;

}

.red{
	border-radius: 0.5rem;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: #cc1f01;
	color: #ffffff;
	text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff,
	-1px 1px 0 #ffffff,  1px -1px 0 #ffffff,
	1px 0 0 #ffffff, -1px  0 0 #ffffff,
	0 1px 0 #ffffff,  0 -1px 0 #ffffff;
	text-decoration: none;
	margin: 10px 0;
	font-size: 20px;
	font-family: "Hina Mincho", serif;

}

.blue{
	border-radius: 0.5rem;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	background: #1569BD;
	color: #ffffff;
	text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff,
	-1px 1px 0 #ffffff,  1px -1px 0 #ffffff,
	1px 0 0 #ffffff, -1px  0 0 #ffffff,
	0 1px 0 #ffffff,  0 -1px 0 #ffffff;
	text-decoration: none;
	margin: 10px 0;
	font-size: 25px;
	font-family: "Hina Mincho", serif;
	font-weight: 900
}


.btn-flat-logo {
	position: relative;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #A1A3A6;
	transition: .4s;
}

.btn-flat-logo:hover {
	background: #A1A3A6;
}

.newfont{
	font-size: 25px;
}

.back {
	font-size: 20px;
}

.center {
	width: fit-content;
	  margin: auto;
}

label {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}
/*枠線*/
.box{
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #2c2c2f;
	background: #FFFFFF;
	width: 700px;
	}
.box p {
	margin: 0; 
	padding: 0;
	}
	
/*検索フォーム*/
.search_container{
  box-sizing: border-box;
  display: inline-block;
}

.search_container input[type="text"]{
  background: #FFFFFF;
  border: none;
  height: 35px;
  width: 380px;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #6cae97;
  color: #ffffff;
  outline : none;
  width: 4.0em;
  height: 37px;
  margin-left:15px;
}


.edit{
	border-radius: 0.5rem;
	width: 200px;
	padding: 8px;
	box-sizing: border-box;
	background: #fabd05;
	color: #ffffff;
	text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff,
	-1px 1px 0 #ffffff,  1px -1px 0 #ffffff,
	1px 0 0 #ffffff, -1px  0 0 #ffffff,
	0 1px 0 #ffffff,  0 -1px 0 #ffffff;
	text-decoration: none;
	margin: 10px 0;
	padding-top:0.5px;
	font-size: 15px;
	font-family: "Hina Mincho", serif;
	font-weight: 900
}

/*削除済みボタン*/
.del{ cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #6cae97;
  color: #ffffff;
  outline : none;
  width: 10.0em;
  height: 30px;
  margin-left:15px;
}
/*追加ボタン*/
.add{ 
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background:#522641;
  color: #ffffff;
  outline : none;
  width: 4.0em;
  height: 30px;
  margin-left:15px;
}
